body {
	background-color: #f3f3f3;
}

.ui.main.container {
	margin-top: 7em;
}

/* .masthead {
	display: flex;
	align-items: center;
	height: 100vh;

	background: url('../../assets/circle-pink-background.svg') no-repeat center
		center fixed !important;
	background-size: cover;
} */

.segment.masthead {
	background: url('../../assets/circle-pink-background.svg') no-repeat center
		center fixed !important;
	background-size: cover;
}

.masthead h1.ui.header {
	font-size: 4em;
}

.page .ui.container {
	margin: 7em 0 7em 0;
}

.page .ui.container h1 {
	font-size: 4em;
}

.page .ui.container p {
	font-size: 1.7em;
	margin: 2em 0;
}

.ui.header.title {
	margin-bottom: 2em;
}

.footer .ui.container {
	margin: 30px 0;
	padding: 20px 0;
}

p.homepage-font-size {
	font-size: 2em;
	padding: 1em 0;
	line-height: 1.25em;
	margin-top: 24px;
}

p.homepage-font-size.link {
	font-size: 1.6em;
	line-height: 1.25em;
	margin-top: 24px;
}

.react-datepicker-wrapper {
	width: 100%;
}

.react-calendar {
	width: 100%;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}

/* Navbar */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.75rem 2rem;
	background: var(--offWhite);
	z-index: 1;
}
.nav-header {
	display: flex;
	justify-content: space-between;
}
.nav-btn {
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}
.nav-icon {
	font-size: 1.5rem;
	color: var(--primaryColor);
}
.nav-links {
	height: 0;
	overflow: hidden;
	transition: var(--mainTransition);
	list-style-type: none;
}
.nav-links a {
	display: block;
	text-decoration: none;
	padding: 1rem 0;
	color: var(--mainBlack);
	transition: var(--mainTransition);
	text-align: center;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
	color: var(--primaryColor);
}

.show-nav {
	height: 100px;
}
@media screen and (min-width: 768px) {
	.nav-btn {
		display: none;
	}
	.nav-center {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
	}
	.nav-links {
		height: auto;
		display: flex;
		margin-left: 4rem;
	}
	.nav-links a {
		margin: 0 1rem;
		padding: 0.5rem 0;
	}
}
/* end of navbar */
